<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <style>
        .container-fluid {
            margin: 0px 50px 0px 50px;
        }

        .navbar-btn a {
            color: aliceblue;
        }

        body {
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Muhammad Rameez</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Account/Index">Index</a></li>
                <li><a href="/Order/User">User</a></li>
                <li><a href="/Order/Role">Role</a></li>
                <li><a href="/Account/ProductImage">ProductImages</a></li>
            </ul>
            <button class="btn btn-warning navbar-btn"><a href="/Order/Orders">Order</a></button>
            <button class="btn btn-success navbar-btn"><a href="/Order/OrderStatus">OrderStatus</a></button>
            <button class="btn btn-danger navbar-btn"><a href="/Account/Product">Products</a></button>
            <button class="btn btn-warning navbar-btn"><a href="/Account/ProductStatus">ProductStatus</a></button>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            </ul>
        </div>
    </nav>
    <div style="margin: 5px 0px 10px 0px">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>