@using ShoppingApp.Models
@model ProductImage
@{
    ViewBag.Title = "PIView";
}

<div class="panel panel-primary container-fluid col-lg-3 col-lg-push-3">
    <div class="panel-heading">Product Image of ID @Model.Id Details</div>
    <div class="panel-body ">

        <div class="col-lg-push-1" style="padding: 0px 0px 10px 10px">
            <img src="~/images/status_avtar-removebg-preview.png" style="height: 250px; width: 250px " />
            <div style="padding: 10px 0px 0px 0px ">
                <h4>
                    Product Image ID : <b>
                        @Model.Id
                    </b>
                </h4>
                <h4>
                    Product ID :  <b>
                        @Model.ProductId
                    </b>
                </h4>
                <p>
                    @* Product Image :<br />*@
                    <img src="~/dbImage/@Model.Image" alt="Image" height="120" width="auto" />
                </p>
            </div>
        </div>
    </div>




</div>