@using ShoppingApp.Models
@model Orders

@{
    ViewBag.Title = "OEdit";
}

<h2>Edit Orders</h2>


<div class="col-lg-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse4">Orders Form</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">



            <div class="panel  panel-warning ">
                <div class="panel-heading">
                    Set Order Details
                </div>
                <div class="panel-body ">
                    <form action="/Order/OEdit" method="post">
                        <div class="form-group">
                            <label for="date"> Date and Time :</label>
                            <input type="datetime-local" class="form-control" id="date" name="DateTime">
                        </div>
                        <div class="form-group">
                            <label for="cost">Order Status Id :</label>
                            <input type="number" class="form-control" id="cost" name="OrderStatusId">
                        </div>
                        <div class="form-group">
                            <label for="des">Buyer Id :</label>
                            <input type="number" class="form-control" id="des" name="BuyerId">
                        </div>
                        <div class="form-group">
                            <label for="de">Product Id :</label>
                            <input type="number" class="form-control" id="de" name="ProductId">
                        </div>
                        <button type="submit" class="btn btn-warning">Add Now</button>
                    </form>
                </div>
            </div>





        </div>
    </div>
</div>