@using ShoppingApp.Models
@model OrderStatus

@{
    ViewBag.Title = "OSEdit";
}

<h2>Edit Order Status</h2>

<div class="panel  panel-sccuess ">

    <div class="panel-body panel-primary">
        <form action="/Order/OSEdit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label for="cnic">Order Status Title :</label>
                <input type="text" class="form-control" id="cnic" name="Name" value="@Model.Name">
            </div>

            <button type="submit" class="btn btn-primary">Edit Now</button>
        </form>
    </div>
</div>