@using ShoppingApp.Models
@model List<User>


<h2>Users List </h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role Id</th>
            <th>Email</th>
        </tr>
    </thead>
    @foreach (var i in Model)
    {
        <tbody>
            <tr>
                <td>@i.Id</td>
            </tr>
            <tr>
                <td>@i.Name</td>
            </tr>
            <tr>
                <td>@i.RoleId</td>
            </tr>
            <tr>
                <td>@i.Email</td>
            </tr>
        </tbody>
    }
</table>